{% extends "base.html" %}
{% block content %}
<div id="dashboard-container" class="container mt-4">
    <h1>Dashboard</h1>
    <p>Hello! Welcome to your Personal Health Dashboard. Here you can track and manage your health metrics.</p>

    <div class="row">
        {% for item in health_data %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    Health Data #{{ item.id }}
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Weight:</strong> {{ item.weight }} kg</p>
                    <p class="card-text"><strong>Height:</strong> {{ item.height }} cm</p>
                    <p class="card-text"><strong>Heart Rate:</strong> {{ item.heart_rate }} bpm</p>
                    <p class="card-text"><strong>Blood Pressure:</strong> {{ item.blood_pressure }}</p>
                    <p class="card-text"><strong>Sleep:</strong> {{ item.sleep }} hours</p>
                    <p class="card-text"><strong>Stress:</strong> {{ item.stress }} level</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <!-- Card for tracking sleep -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    Sleep
                </div>
                <div class="card-body">
                    <h5 class="card-title">Last Night's Sleep</h5>
                    <p class="card-text">You slept for 7 hours and 45 minutes.</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <!-- Card for tracking water intake -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    Water Intake
                </div>
                <div class="card-body">
                    <h5 class="card-title">Today's Water Intake</h5>
                    <p class="card-text">You have consumed 1.5 liters of water.</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <!-- Reminders Section -->
        <div class="col-md-12">
            <h2>Reminders and Goals</h2>
            <div class="list-group">
                {% for reminder in reminders %}
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ reminder.reminder }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<h1 class="mt-20"></h1>
{% endblock %}
