{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1>Health Data Plots</h1>
    <p>View your health data trends over time.</p>
    <div class="row">
        <!-- Plots anzeigen -->
        <div class="col-md-6">
            <h3>Weight</h3>
            <img src="{{ url_for('static', filename='images/weight_plot.png') }}" alt="Weight Plot" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Heart Rate</h3>
            <img src="{{ url_for('static', filename='images/heart_rate_plot.png') }}" alt="Heart Rate Plot" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Blood Pressure</h3>
            <img src="{{ url_for('static', filename='images/blood_pressure_plot.png') }}" alt="Blood Pressure Plot" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Sleep</h3>
            <img src="{{ url_for('static', filename='images/sleep_plot.png') }}" alt="Sleep Plot" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Stress</h3>
            <img src="{{ url_for('static', filename='images/stress_plot.png') }}" alt="Stress Plot" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}
