{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Add Reminders</h2>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group mb-3">
                        {{ form.reminder.label(class="form-control-label") }}
                        {{ form.reminder(class="form-control") }}
                    </div>
                    <div class="form-group text-center">
                        {{ form.submit(class="btn btn-primary mt-3") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

